* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bellefair", serif;
}

.container {
  height: auto;
  width: 100%;
  visibility: visible;
}
.container .background {
  position: fixed;
  z-index: 0;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .background .first-bg {
  width: 30%;
}
.container .background .bg {
  background-color: #0d1b5b;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  opacity: 0.2;
}

.header {
  position: absolute;
  padding: 20px;
  padding-top: 50px;
  padding-left: 100px;
  display: flex;
  width: 100%;
  overflow: hidden;
  top: 0px;
  z-index: 1;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}
.header .logo {
  border-radius: 100%;
  margin-top: 25px;
}
.header .path {
  width: 35px;
  height: 35px;
}
.header .menu {
  padding: 30px;
  padding-right: 220px;
  width: 100%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: relative;
  display: flex;
  list-style: none;
  margin-left: 30%;
  font-family: "Barlow Condensed", sans-serif;
}
.header .menu::before {
  content: "";
  position: absolute;
  margin-left: -40%;
  margin-bottom: 15px;
  top: 39px;
  width: 39%;
  background: #979797;
  height: 0.3px;
}
.header .menu .list {
  position: relative;
  margin-left: 60px;
  letter-spacing: 0.2rem;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.header .menu .list::before {
  content: "";
  top: 50px;
  position: absolute;
  background-color: #bdb9b9;
  width: 0%;
  height: 2px;
}
.header .menu .list:hover::before {
  width: 100%;
  opacity: 0.4;
  transition: 0.5s;
}
.header .menu .list:focus::before {
  opacity: 1;
  width: 100%;
}
.header .menu .list:active::before {
  opacity: 1;
  width: 100%;
}

.main-home {
  width: 100%;
  height: 100vh;
  background: url("home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  margin-top: 100px;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 200px;
  color: white;
  left: 10%;
}
.section .title {
  font-family: "Bellefair", serif;
  font-size: 130px;
  font-weight: lighter;
  animation-name: titles;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.section .description {
  margin-top: 30px;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: lighter;
  font-family: "Barlow", sans-serif;
  color: #d0d6f9;
  animation-name: description;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.section .col2 {
  position: relative;
  z-index: 1;
  bottom: 250px;
  left: 220%;
  background: rgba(162, 162, 162, 0.3);
  height: 300px;
  width: 300px;
  border-radius: 100%;
  animation-name: col2;
  animation-duration: 2s;
}
.section .col2 .explore-btn {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 50px;
  cursor: pointer;
  background: rgb(255, 255, 255);
  width: 200px;
  height: 200px;
  border: transparent;
  font-size: 25px;
  font-family: "Bellefair", serif;
  font-weight: lighter;
  color: #000000;
  border-radius: 100%;
  transition: 0.5s;
}
.section .col2 .explore-btn:hover {
  background: #11141e;
  color: white;
}

@keyframes titles {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes description {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes col2 {
  from {
    background: rgba(162, 162, 162, 0);
    transform: translateX(100px);
  }
}
.section-2 {
  margin-top: 45px;
  width: 85%;
  height: 400px;
  position: absolute;
  display: flex;
  top: 200px;
  color: white;
  left: 10%;
}
.section-2 .title {
  display: block;
  font-size: 30px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-bottom: 20px;
  color: #f7f8fa;
  animation-name: destination;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
.section-2 .image-path {
  width: 300px;
  height: 300px;
  margin-left: 30px;
  margin-top: 30px;
  animation-name: images;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.section-two {
  height: 100vh;
  width: 100%;
  background: url("destination-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.col-two {
  width: 27%;
  height: 400px;
  position: absolute;
  margin-top: 100px;
  right: 20%;
  animation-name: col-two;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.col-two .inner-menu {
  position: relative;
  display: flex;
  list-style: none;
  margin-right: 10px;
}
.col-two .inner-menu .inner-list {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
  transition: 0.5s;
}
.col-two .inner-menu .inner-list::before {
  content: "";
  margin-top: 20px;
  position: absolute;
  background-color: #ffffff;
  width: 0%;
  height: 2px;
  transition: 0.5s;
}
.col-two .inner-menu .inner-list:focus::before {
  width: 100%;
}
.col-two .inner-menu .inner-list:hover {
  color: white;
}
.col-two .inner-menu .inner-list:hover::before {
  width: 100%;
  color: white;
}
.col-two .inner-desc {
  margin-top: 30px;
  margin-left: 15px;
  text-align: justify;
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
  font-size: 15px;
  font-weight: lighter;
  word-spacing: 2px;
}
.col-two .des-title {
  margin-left: 10px;
  margin-top: 30px;
  font-size: 70px;
}
.col-two .distance {
  margin-top: 30px;
  margin-left: 15px;
  display: flex;
  border-top: 1px solid #383b4b;
}
.col-two .distance .km {
  margin: 20px;
}
.col-two .distance .km .one {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10px;
  color: #d0d6f9;
}
.col-two .distance .km .two {
  margin-top: 20px;
}
.col-two .distance .days {
  margin: 20px;
}
.col-two .distance .days .three {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10px;
  color: #d0d6f9;
}
.col-two .distance .days .four {
  margin-top: 20px;
}

@keyframes destination {
  from {
    transform: translateY(-100px);
    transform: translateX(100px);
  }
}
@keyframes images {
  from {
    transform: rotate(180deg);
  }
}
@keyframes col-two {
  from {
    transform: translateY(50px);
  }
}/*# sourceMappingURL=style.css.map */
